<h4 class="text-info"> <%= @task.title.capitalize %> </h4>
<p class="text-muted"> 
	<%= image_tag current_user.image.thumb.url, width: 30, class: 'rounded-circle' %>
	&nbsp;
	<small class="text-muted font-weight-bold"> <%= link_to current_user.name, profile_path(current_user) %>, 
		<%= time_ago_in_words(@task.created_at) %> ago
	 </small>
	 <hr>
	 <p class="lead">
	 	<%= @task.description %>
	 </p>


</p>